@import "./modules/reset.sass"
@import "./modules/fonts.sass"
@import "./modules/alerts.sass"
@import "./modules/loaders.sass"
@import "./modules/dropdown.sass"
// @import "./modules/buttons.sass"

@import "./parts/header.sass"
@import "./parts/footer.sass"


  
.container
  width: 1200px
  margin: 0 auto

#app
  display: flex
  flex-direction: column
  min-height: 100vh

h1
  font-size: 28px
  font-weight: 700

h3
  font-size: 22px
  font-weight: 700


strong
  font-weight: 700



.item__wrap
  display: flex
  align-items: center
  margin-right: 42px
  width: 100%

.item
  display: flex
  align-items: center
  padding: 16px 12px
  border: 1px solid #ddd
  border-radius: 4px
  box-shadow: 0 0 5px #bdbdbd
  transition: all .2s
  &:not(:last-child)
    margin-bottom: 24px

  input
    font-size: 16px
    padding: 8px
    width: 100%

    &:read-only
      font-style: italic

    &:focus
      outline: none
      box-shadow: none

    &.disabled
      border: none

  div span
    font-weight: 700
    display: inline-block
    margin-right: 4px
    font-size: 24px
  
  .btn
    margin: 0 4px
    transition: all .2s
  
  &--important
    border-color: #f00
    box-shadow: 0 0 5px #f00
    transform: scale(1.02)
    input
      font-weight: 700
    .btn
      &-warning
        transform: scale(1.2)
  &--completed
    .item__wrap
      opacity: .4
    input
      text-decoration: line-through
    .btn
      &-success
        transform: scale(1.2)
  &--active
    transform: scale(1.04)

.controls
  margin-top: 48px

.emptyText
  margin: 16px 0 8px 0
  min-height: 40px


.content
  padding: 0 0 100px 0
  p 
    font-size: 18px
    margin-bottom: 8px
    span
      font-weight: 700

  
.history
  margin-top: 24px


.table
  width: 100%
  th, td
    border: 1px solid #ddd
    padding: 16px
    text-align: center
    vertical-align: middle
  td
    font-weight: 700
    + td
      text-align: left
      font-weight: 400
  th
    border-bottom-color: #ddd!important
  ul
    li
      &:not(:last-child)
        margin-bottom: 12px




body
  &.dark
    background: #000
    color: #fff
  &.light
    background: grey
    



@keyframes alert
  0%
    transform: translateX(50px)
    opacity: 0.5
  100%
    transform: translateX(0)
    opacity: 1